<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_SanPhamConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QL_SanPham;User ID=sa;Password=tanhai123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>