<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DTO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_SanPhamConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QL_SanPham;User ID=sa;Password=tanhai"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QL_SanPhamConnectionString1"
            connectionString="Data Source=LAPTOP-GEQBB704\SQLEXPRESS;Initial Catalog=QL_SanPham;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DTO.Properties.Settings>
            <setting name="Conn" serializeAs="String">
                <value>Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QL_SanPham;User ID=sa;Password=sa2012</value>
            </setting>
        </DTO.Properties.Settings>
    </userSettings>
</configuration>